/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  width: 100vw; 
  height: 100vh; 
  margin : 0px; 
  padding : 0px; 
  border : 0px; 
  background-color : black;
}

.code-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .code-container {
    width: 100vw;
  }
}

h1 {
  font-style: italic;
  color: #373fff;
}

canvas {
  width: 100%;
  height: 100%;
  margin : 0px;
  padding : 0px;
  border : 0px;
  z-index: -1;
  background-color : transparent;
}