/* CSS files add styling rules to your content */

@font-face {
  font-family: 'Regolapro';
  src: url('./fonts/RegolaPro-Book.woff2') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  width: 100vw; 
  height: 100vh; 
  margin : 0px; 
  padding : 0px; 
  border : 0px; 
  background-color : black;
}

.code-container {
  position: fixed;
  left: 0px;
  top: 30px;
  width: 50vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .code-container {
    width: 100vw;
  }
}


canvas {
  width: 100%;
  height: 100%;
  margin : 0px;
  padding : 0px;
  border : 0px;
  z-index: -1;
  background-color : transparent;
}

.editor-action-buttons {
  position: fixed;
  top: 0px;
  left: 0px;
}

.logo {
  position: fixed;
  right: 15px;
  bottom: 10px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Regolapro, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.editor-button {
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  /* border: 1px solid lightgrey; */
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); */
  margin-top: 2.5px;
  transition: all 300ms ease-in-out ;
  color: rgb(165, 165, 165);
  border-color: rgb(165, 165, 165);
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  cursor: pointer;
}
.editor-button:hover {
    color: white;
    border-color: white;
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); */
}